In [1]:
import pandas as pd
import numpy as np

In [2]:
# Loading user purchases and demographics
customer_data = pd.read_csv('data/user_demographics_v1.csv')
app_purchases = pd.read_csv('data/purchase_data_v1.csv')

In [3]:
customer_data.columns, app_purchases.columns

(Index(['uid', 'reg_date', 'device', 'gender', 'country', 'age'], dtype='object'),
 Index(['date', 'uid', 'sku', 'price'], dtype='object'))

In [9]:
# Combining purchases with demographics
uid_combined_data = app_purchases.merge(customer_data,
                                        on='uid',
                                        how='inner')

In [10]:
uid_combined_data.head()

,date,uid,sku,price,reg_date,device,gender,country,age
0,2017-07-10,41195147,sku_three_499,499,2017-06-26T00:00:00Z,and,M,BRA,17
1,2017-07-15,41195147,sku_three_499,499,2017-06-26T00:00:00Z,and,M,BRA,17
2,2017-11-12,41195147,sku_four_599,599,2017-06-26T00:00:00Z,and,M,BRA,17
3,2017-09-26,91591874,sku_two_299,299,2017-01-05T00:00:00Z,and,M,TUR,17
4,2017-12-01,91591874,sku_four_599,599,2017-01-05T00:00:00Z,and,M,TUR,17

In [7]:
# Checking summary statistics
uid_combined_data.shape

(9006, 9)

In [15]:
uid_combined_data.agg({'price': ['mean','median'],
                            'age': ['mean','median'] })

             price        age
mean    406.772596  23.922274
median  299.000000  21.000000

In [18]:
grouped_purchase_data = uid_combined_data.groupby(by=['device',
                                                      'gender'])

purchase_summary = grouped_purchase_data.price.describe()

purchase_summary

                count        mean         std   min    25%    50%    75%  \
device gender
and    F       2804.0  400.747504  179.984378  99.0  199.0  299.0  499.0
       M       2541.0  416.237308  195.001520  99.0  299.0  499.0  599.0
iOS    F       1987.0  404.435330  181.524952  99.0  299.0  299.0  499.0
       M       1674.0  405.272401  196.843197  99.0  199.0  299.0  499.0

                 max
device gender
and    F       899.0
       M       899.0
iOS    F       899.0
       M       899.0